<!-- fragments/navbar.html -->
<!-- Allows for quick insertion of the navbar into other pages -->
<!-- Simply add <div th:replace="fragments/navbar :: navbar"></div> to the BOTTOM of the html body -->
<nav th:fragment="navbar" class="navbar flex-nowrap navbar-expand-sm navbar-light bg-dark p-2 px-3">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" style="color:#507fff">Co-op Health</a>

        <div class="navbar-nav me-auto">
            <a class="nav-item nav-link nav-page" draggable="false" id="home"
               style="color: rgb(175, 175, 175) !important" th:href="@{/}">Home</a>

            <a class="nav-item nav-link nav-page" draggable="false" id="login"
               style="color: rgb(175, 175, 175) !important" th:href="@{/login}">Login</a>

            <a class="nav-item nav-link nav-page" draggable="false" id="search"
               style="color: rgb(175, 175, 175) !important"
               th:href="@{/search}"
               th:if="${#authorization.expression('hasRole(''ROLE_MEDICAL_STAFF'')')}">Search Database</a>

            <a class="nav-item nav-link nav-page" draggable="false" id="add"
               style="color: rgb(175, 175, 175) !important" th:href="@{/add}">Register</a>

            <a class="nav-item nav-link nav-page" id="edit" draggable="false"
               style="color: rgb(175, 175, 175) !important" th:href="@{/edit}">Edit</a>

            <a class="nav-item nav-link nav-page" id="help" draggable="false"
               style="color: rgb(175, 175, 175) !important" th:href="@{/help}">Help</a>
        </div>

        <div class="d-flex ms-auto align-items-center"
             th:if="${#authorization.expression('isAuthenticated()') and user != null}">
             <a
               class="nav-item nav-link nav-logout active fw-bold"
               style="color: rgb(255, 255, 255); padding-right: 1em; cursor: pointer;"
               href="#"
               th:onclick="|event.preventDefault(); document.getElementById('logoutForm').submit();|"
            >
               Logout
            </a>
            <form
               id="logoutForm"
               th:action="@{/logout}"
               method="post"
               style="display: none;"
            >
               <input
                  type="hidden"
                  th:name="${_csrf.parameterName}"
                  th:value="${_csrf.token}"
               />
            </form>

            <span class="navbar-text fw-bold" style="color:#50b0ff">
                <span th:text="'Welcome, ' + ${user.firstName}"></span>
            </span>
        </div>
    </div>

    <script src="/js/dynamicNavbar.js"></script>
</nav>
