<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		body {
			background-image: url('https://pbs.twimg.com/media/GPrjOMEb0AAUNxj?format=jpg&name=4096x4096');
			border-color: green;
		}

		input[type="text"] {
			width: 100px;
			height: 30px;
			border-radius: 5px;
			background-color: lightblue;
			margin-left: 2px;
			position: relative;
		}

		label {
			position: relative;
			width: 300px;
			margin: 20px;
			padding: 5px;
			font-family: AR CENA;
			font-size: 20px;
		}
	</style>
</head>

<body>
	<div class="login">
		<label>Email: </label><input type="text" name="myInput" placeholder="your@email.com" size="30" required>
		<label>Password: </label><input type="text" name="myInput" size="20" required>
		<input type="submit" name="myInput" value="Submit">
	</div>
</body>

</html>