<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Co-op Health</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="custom_classes.css">
</head>

<body>
    <!-- Inject navbar from fragments/navbar.html -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="d-flex justify-content-center align-items-center" style="margin-top:5vw">
		<div class="card p-4">
			<h3 class="text-center mb-4">Database Search</h3>
			<form th:action="@{/submit-search}"  method="post">
                <label for="searchType" class="form-label">Search by</label>
                <select class="form-select" id="searchType" th:name="searchType" required>
                    <option value="email">Email</option>
                    <option value="id">ID</option>
                    <option value="phone">Phone</option>
                    <option value="name">Name</option>
                    <option value="ssn">SSN</option>
                </select>

				<div class="mb-3 pt-2">
					<label for="searchValue" class="form-label">Client Information</label>
					<input type="text" class="form-control mb-2" pattern="^\S+$" 
                        id="searchValuePrimary" th:name="searchValuePrimary" placeholder="Enter Client Info" required 
                        title="No spaces in input.">
                    <input type="text" class="form-control mb-2" pattern="^\S+$" 
                        id="searchValueSecondary" th:name="searchValueSecondary" placeholder="Enter Client Secondary Info" 
                        title="No spaces in input.">
				<button type="submit" class="btn btn-primary w-100">Search</button>
			</form>
		</div>
	</div>

    <script>
        // When the user chooses a search option, update necessary input fields
        const searchType = document.getElementById("searchType");
        const secondarySearch = document.getElementById("searchValueSecondary");

        secondarySearch.style.display = "none";
        secondarySearch.required = false;
        searchType.addEventListener("change", () => {
            if (searchType.value === "name") {
                secondarySearch.style.display = "block";
                secondarySearch.required = true;
            } else {
                secondarySearch.style.display = "none";
                secondarySearch.required = false;
            }
        });
    </script>
</body>
</html>